body {
  color: white;
  background-color: black;
  color: #ff69b4;
  font-family: Consolas, monaco, monospace;
  text-align: center;
  display: inline-block;
}

.main {
  position: absolute;
  margin-left: 25%;
  border: 1px solid;
  width: 50%;
  overflow-wrap: break-word;
  padding: 10px;
}

table, th, td {
  border: 1px solid;
}

a {
  color: #00ffff;
}
